<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>登录</title>

<body>
    <form action="/login" method="post">
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">密码:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <p>还没有账户？点击<a href="register.html">此处注册</a></p>
        <p>忘记密码？点击<a href="FogotPassword.html">此处找回</a></p>


</body>

</html>