<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>注册</title>

<body>
    <form action="/register" method="post">
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">密码:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="confirm_password">确认密码:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>
        
        <p>已有账户？点击<a href="login.html">此处登录</a></p>
</body>

</html>